VITE_API_URL=https://ridhi-sidhi-couriers-main-production.up.railway.app/api
VITE_APP_SOCKET_URL=https://ridhi-sidhi-couriers-main-production.up.railway.app
VITE_PUBLIC_GEOAPIFY_KEY=
VITE_GOOGLE_OAUTH_CLIENT_ID=
